<nav>
  <div class="logo">
    <%= link_to image_tag("logo.png", alt: "Beard Industries"), root_path %>
  </div>
  
  <ul class="nav-links">
    <li><%= link_to 'Home', root_path %></li>
    <li>|</li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
  <% if user_signed_in? %>
  <ul class="signed-in-nav-links">
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
  </ul>
<% end %>
</nav>